*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Appdiv{
  height: 704px;
  width: 550px;
 
}
.Navdiv{
  height: 50px;
  width: 550px;
  background-color:#F55A5A ;
  color:white;
  line-height: 50px;
}
span i{
  color: #F55A5A;
}
.card img{
  height: 100%;
}

.a{
  display:inline-block;
}
.adiv{
  justify-content: space-between;
}